/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --primary:#ffcc00;
}
body{
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: white;
}
h1{
  text-align: center;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
/*utilities*/
.read-btn{
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
}
.container{
  width: 95%;
  margin: 0 auto;
}
@media(min-width: 768px){
  .container{
    width: 65%;
  }
}
/*nav*/
nav.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.logo-border{
  height: 35px;
  padding-left: 30px;
}
.logo{
display: none;
}
.link-login{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: black;
  letter-spacing: 4px;
}
.link-search{
  display: none;
}
.link-news{
  display: none;
}
.link-subs{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  background-color: black;
  padding: 15px;
}
.link-subs:hover{
  background-color: yellow;
  transition: 0.5s ease-in;
  color: black;
}
.link-menu{
  display: none;
}
.link-angle{
  margin-right: 30px;
  color: black;
}
@media(min-width:768px){
  .logo-border{
    display: none;
  }
  .logo{
    display: block;
    height: 35px;
    padding-left: 30px;
  }
  .link-search{
    display: inline-block;
    color: black;
    height: 10px;
    padding-left: 30px;
  }
  .link-news{
    display: inline-block;
    height: 30px;
    padding-left: 30px;
  }
  .link-menu{
    display: inline-block;
    height: 30px;
    padding-left: 30px;
  }
}
/*header*/
@media(min-width:768px){
  header h1{
    font-size: 75px;
  }

}
.welcome-msg{
  text-align: center;
  padding: 75px;
}
.welcome-msg h1{
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}
.welcome-msg a{
  text-decoration:underline #ffcc00;
  color: white;
}
.welcome-msg a:hover{
  background-color: #ffcc00;
  transition: all 0.3s ease-in;
  color: black;
}
.welcome-msg div{
  background-color: #ffcc00;
  height: 4px;
  line-height: 0;
  margin: 21px auto 0;
  width: 30px;
}
.welcome-msg p{
  letter-spacing: 1px;
}
/*main-news*/
.main-news{
  position: relative;/*parent*/
  height: 450px;
}
.main-news img{
  height: 450px;
  width: 100%;
}
.main-news-text{
  position: absolute;/*child*/
  top: 220px;
  left: 30px;
}
.main-news-text h3{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-right: 20px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.main-news-text p{
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
/*secondary-news*/
.secondary-news{
  height: 520px;
  margin-bottom: 50px;
}
.secondary-news-img{
  height: 380px;
}
.secondary-news-img img{
  height: 100%;
  width: 100%;
}
.secondary-news-text{
  height: 120px;
  background-color: white;
  padding: 50px 30px;
  color: black;
}
.secondary-news-text h3{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.secondary-news-text p{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.secondary-news-text .read-btn{
  color: black;
}
@media(min-width:768px){
main{
    display: flex;
    flex-direction: row-reverse;
  }
  .secondary-news-container{
    display: flex;
  }
}
/*today's picks*/
.todays-title{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 1.5;
}

.todays-item{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px;
}
.todays-item-img{
  width: 90px;
  height: 90px;
  margin-right: 20px;
}
.todays-item img{
  width: 100%;
  height: 100%;
  margin-right: 20px;
}
.todays-item-text{
  display: block;
  position: relative;
}
.todays-item-text h3{
  font-size: 14px;
  padding-bottom: 6px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.5;
}
.todays-item-text p{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 1.5;
}
.paid-content{
  background-color: white;
  color: black;
}